/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CatViewer {
  margin-bottom: 20px;
}

.CatViewer img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.CatViewer button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.CatViewer button:hover {
  background-color: #45a049;
}

.CatViewer ul {
  list-style-type: none;
  padding: 0;
}

.CatViewer ul li {
  margin-bottom: 10px;
}

.CatViewer ul li button {
  margin-left: 10px;
  padding: 4px 8px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.CatViewer ul li button:hover {
  background-color: #c62828;
}
